Pandas (Day-1)

In [ ]:
# pip install pandas

In [ ]:
# pip install seaborn

In [ ]:
# pip install matplotlib

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# load the dataset
df = sns.load_dataset('titanic')
df.head()

In [ ]:
df.to_csv("titanic.xlsx")

# Find a missing values/null values/NaNA

In [ ]:
df.isnull().sum() #sum of the missing values
df.isnull().sum() / len(df) * 100 # missing values in percentage

In [ ]:
sns.heatmap(df.isnull())

# Select unique values

In [ ]:
df['sex'].unique() # selcet 1D array in numpy / in pandas is a series

In [ ]:
df[['sex', 'age', 'alone']].nunique() #Gives count of unique values in DataFrame

In [ ]:
# Both are same thing
df['sex'].unique()
df.sex.unique()
df.sex.nunique()

In [ ]:
# To find the uniber of unique values in columns
df.nunique()

In [ ]:
# to show all columns
df.columns

In [ ]:
# show the unique value in 1 columns
df["embark_town"].unique()

In [ ]:
# value counts 
df['embark_town'].value_counts()

In [ ]:
# df = df.dropna(subset=['embark_town'])

In [ ]:
# df = df.dropna(subset=['age', 'deck' ])

In [ ]:
sns.heatmap(df.isnull())

In [ ]:
df.head()

In [ ]:
df['embark_town'].unique()

In [ ]:
# To find the survived fare by using groupby
df.groupby('survived')['fare'].mean()

In [ ]:
df.groupby(['survived', 'sex'])['fare'].mean()

In [ ]:
df.groupby(['survived', 'who']).size()

In [ ]:
# corrlation matrix
corrleation_df = df[['fare', 'age', 'sibsp']].corr()

In [ ]:
sns.heatmap(corrleation_df)

In [ ]:
sns.pairplot(corrleation_df)

In [ ]:
df.groupby('survived') ['fare'].mean()

In [ ]:
df.info()

In [ ]:
# checking the null values in columns
df.info()

In [ ]:
# droped the deck column because it have null values more than 70% 
df.drop('deck', axis=1, inplace=True)

In [ ]:
# now ckeck it 
df.columns

In [ ]:
df.isnull().sum() / len(df) * 100

In [ ]:

df.isnull().sum()

# Filling the null value

In [ ]:
# filling the null values of age by using the mean
df['age'] = df['age'].fillna(df['age'].mean())

In [ ]:
df.isnull().sum()

In [ ]:
# Fill the  null value whit Peshawar
df['embark_town'].fillna(df['embark_town'].mode()[0])

In [ ]:
df.embark_town.unique()

In [ ]:
sns.heatmap(df.isnull())

In [ ]:
df['embarked'].fillna(df['embarked'].mode()[0], inplace=True)

In [ ]:
sns.histplot(df['age'])

# **Binning**

In [ ]:
bins = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
labels = ['kids', 'teenagers', 'young adults', 'adults', 'middle aged',
           'seniors', 'elderly', 'very elderly', 'super elderly', 'centenarians']
pd.cut(df['age'], bins=bins, labels=labels)

In [ ]:
df.age.info()

# Feature engineering

In [ ]:
bins = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
labels = ['kids', 'teenagers', 'young adults', 'adults', 'middle aged',
           'seniors', 'elderly', 'very elderly', 'super elderly', 'centenarians']

# converting bins into columns

df['binned_age'] = pd.cut(df['age'], bins=bins, labels=labels)

In [ ]:
df.head()

In [ ]:
df['binned_age'].value_counts()

In [ ]:
# change a columns name 
df.rename(columns={'binned_age': 'age_group'}, inplace=True)

In [ ]:
df.head()

In [ ]:
df.head()

In [ ]:
df.groupby('age_group').value_counts()

In [ ]:
df.