#   Google App store EDA

In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [49]:
df = pd.read_csv('./Data_files/googleplaystore.csv')

In [50]:
# comment out these code because they are automatically generated by the profiling library
# import pandas_profiling as yd
# profile = yd.ProfileReport(df)
# profile.to_file('./output folder/Google_play_App_EDA')

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [52]:
# Take sample from dig data sets
df.sample(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
6340,BLACKJACK!,GAME,4.4,524467,33M,"10,000,000+",Free,0,Teen,Casino,"July 7, 2016",1.126,2.3.3 and up
2593,MeetMe: Chat & Meet New People,SOCIAL,4.2,1259849,76M,"50,000,000+",Free,0,Mature 17+,Social,"August 3, 2018",Varies with device,4.1 and up

# Write down all numaric variable and convert them into numeric
1.size\
2.installs\
3.price

In [53]:
# To do that let's have a look of unique values
df['Size'].value_counts()

Size
Varies with device    1695
11M                    198
12M                    196
14M                    194
13M                    191
                      ...
552k                     1
885k                     1
1020k                    1
582k                     1
619k                     1
Name: count, Length: 462, dtype: int64

# Check how any MBs are there in KBs? And calculate it.
1. Convert KBs into M
2. Then remove M from all numbers
3. Handle `varies with device`

In [54]:
# Checking null values in Size column
df['Size'].isnull().sum()

np.int64(0)

In [55]:
df['Installs'].value_counts()

Installs
1,000,000+        1579
10,000,000+       1252
100,000+          1169
10,000+           1054
1,000+             907
5,000,000+         752
100+               719
500,000+           539
50,000+            479
5,000+             477
100,000,000+       409
10+                386
500+               330
50,000,000+        289
50+                205
5+                  82
500,000,000+        72
1+                  67
1,000,000,000+      58
0+                  14
0                    1
Free                 1
Name: count, dtype: int64

In [56]:
df['Size'].loc[df['Size'].str.contains('k')].value_counts().sum()

np.int64(316)

In [57]:
df['Size'].loc[df['Size'].str.contains('M')].value_counts().sum()

np.int64(8829)

In [58]:
df['Size'].loc[df['Size'].str.contains('Varies with device')].value_counts().sum()

np.int64(1695)

In [59]:
len(df)

10841

In [60]:
8830+316+1695

10841

In [61]:
#let's define a function
def convert_size(size):
    if isinstance(size, str):
        if 'k' in size:
            return float(size.replace('k', '')) * 1024
        elif 'M' in size:
            return float(size.replace('M', '')) * 1024 * 1024
        elif 'Varies with device' in size:
            return np.nan
    return size

# Installs Column:
1. Remove + sign
2. remove ,
3. Convert the column into an integer

In [62]:
# let's apply this function
df['Size'] = df['Size'].apply(convert_size)

In [63]:
# rename the column
df.rename(columns={'Size': "Size_in_bytes"}, inplace=True)

In [64]:
df['Installs'] = df['Installs'].apply(lambda x: x.replace('+', '')if '+' in str(x) else x)

In [65]:
df['Installs'] = df['Installs'].apply(lambda x: x.replace(',', '')if "+" in str(x) else x)

In [66]:
df['Price']

0        0
1        0
2        0
3        0
4        0
        ..
10836    0
10837    0
10838    0
10839    0
10840    0
Name: Price, Length: 10841, dtype: object

In [67]:
df['Price'].loc[(df['Price'].str.contains('0')) & (df['Price'].str.contains('$'))].value_counts().sum()

np.int64(10223)

In [68]:
df['Price'] = df['Price'].apply(lambda x: x.replace("$", '') if "$" in str(x) else x)